assets/jade/inc/apps.jade
.apps
	h3 OTRZYMASZ NIEOGRANICZONY DOSTĘP DO SERWISU PRODUKTÓW MOBILNYCH
	.container
		.row
			.col
				a(href="#")
					img(src="img/apps/app-01.png")
			.col
				a(href="#")
					img(src="img/apps/app-02.png")
			.col
				a(href="#")
					img(src="img/apps/app-03.png")
			.col
				a(href="#")
					img(src="img/apps/app-04.png")
			.col
				a(href="#")
					img(src="img/apps/app-05.png")
			.col
				a(href="#")
					img(src="img/apps/app-06.png")
			.col
				a(href="#")
					img(src="img/apps/app-07.png")
			.col
				a(href="#")
					img(src="img/apps/app-08.png")
			.col
				a(href="#")
					img(src="img/apps/app-09.png")
			.col
				a(href="#")
					img(src="img/apps/app-10.png")
			.col
				a(href="#")
					img(src="img/apps/app-11.png")
			.col
				a(href="#")
					img(src="img/apps/app-12.png")

www/views/inc/apps.html

<div class="apps">
	<h3>OTRZYMASZ NIEOGRANICZONY DOSTĘP DO SERWISU PRODUKTÓW MOBILNYCH</h3>
	<div class="container">
		<div class="row">
			<div class="col"><a href="#"><img src="img/apps/app-01.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-02.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-03.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-04.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-05.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-06.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-07.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-08.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-09.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-10.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-11.png"/></a></div>
			<div class="col"><a href="#"><img src="img/apps/app-12.png"/></a></div>
		</div>
	</div>
</div>
