assets/jade/index.jade
doctype
html(lang='en')
	head
		title iPhone X lite version (PO)
		include inc/meta
		include inc/css
	body
		.body
			.page1
				.header
					h2.float-right Oto<br>twoja<br>szansa!
					h1 Wygraj<br>iPhone
				img.logo(src="img/img-header.png", srcset="img/img-header@2x.png 2x, img/img-header@3x.png 360w")
				.slog Aby wygrać odpowiedz na pytanie:
				.vote
					h3 Kto jest współzałożycielem firmy Apple?
					a.btn.btn-danger.float-left(href="#") Steve<br>Jobs
					a.btn.btn-primary.float-right(href="#") Bill<br>Gates
					.clearfix
			include inc/secure
			include inc/text
			include inc/impress
			include inc/features
			include inc/apps
			include inc/footer
		include inc/js

www/resources/index.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>iPhone X lite version (PO)</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=360">
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="body">
			<div class="page1">
				<div class="header">
					<h2 class="float-right">Oto<br>twoja<br>szansa!</h2>
					<h1>Wygraj<br>iPhone</h1>
				</div><img src="img/img-header.png" srcset="img/img-header@2x.png 2x, img/img-header@3x.png 360w" class="logo">
				<div class="slog">Aby wygrać odpowiedz na pytanie:</div>
				<div class="vote">
					<h3>Kto jest współzałożycielem firmy Apple?</h3><a href="#" class="btn btn-danger float-left">Steve<br>Jobs</a><a href="#" class="btn btn-primary float-right">Bill<br>Gates</a>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="secure"><img src="img/ico-norton.png" srcset="img/ico-norton@2x.png 2x, img/ico-norton@3x.png 3x"><img src="img/ico-secure.png" srcset="img/ico-secure@2x.png 2x, img/ico-secure@3x.png 3x"><img src="img/ico-safe.png" srcset="img/ico-safe@2x.png 2x, img/ico-safe@3x.png 3x"></div>
			<div class="text">Serwis URPRIZE stanowi świadczenie dodatkowe w ramach usługi o podwyższonej opłacie i jest usługą subskrypcyjną. Serwis dostępny jest na telefony komórkowe bądź inne urządzenia mobilne. Kliknij tutaj aby sprawdzic Obsługiwane telefony, posiadające kartę SIM w sieci Orange, Plus, T-Mobile i Play. Koszt usługi to 6,15 zł brutto za każdy SMS otrzymany w ramach subskrypcji. W ramach usługi użytkownik otrzymuje maksymalnie 5 SMS/tydzień. Pobranie wybranych elementów multimedialnych może ponadto wiązać się z opłatami za transfer danych, zgodnie z cennikami operatora. Usługa jest aktywowana na czas nieokreślony, do czasu rezygnacji przez użytkownika. Aby zrezygnować z usługi należy wysłać sms-a o tresci STOP FUN na nr 60568 (koszt wynosi 0zl). Koszty będą doliczone do Twojego rachunku za telefon bądź potrącane z Twojego salda. Telefon musi posiadać połączenie z Internetem, możliwość obsługi SMS oraz możliwość zapisu treści pobranych z Internetu. Serwis URPRIZE nie jest powiązany, sponsorowany lub popierany przez żaden z wymienionych producentow lub sprzedawców detalicznych. Znaki towarowe, znaki usług, loga są własnością ich poszczególnych właścicieli. Aby zapisać się i korzystać z usługi musisz być właścicielem telefonu i mieć ukończone 18 lat bądź uzyskać zgodę właściciela telefonu. Wszelkie testy, gry lub aplikacje zaprezentowane na tej stronie internetowej są wyłącznie przeznaczone na cele rozrywkowe. Aby uzyskać informacje wyślij e-mail na adres cs_pl@emobi.biz. eMobi Pte. Ltd 20 Maxwell Road, Maxwell House #09-17, Singapore 069113.</div>
			<div class="impress"><img src="img/img_iphone.jpg" class="float-right">
				<h3>On nie ma<br>ekranu.<br>On jest<br>ekranem.</h3><a href="#" class="btn btn-primary">WYGRAJ!</a>
			</div>
			<div class="features">
				<h3>Konstrukcja i wyświetlacz</h3>
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="item">
								<div class="circle"><img src="img/ico-face.png" srcset="img/ico-face@2x.png 2x, img/ico-face@3x.png 3x"></div><b>Face ID</b>
							</div>
						</div>
						<div class="col">
							<div class="item">
								<div class="circle"><img src="img/ico-retina.png" srcset="img/ico-retina@2x.png 2x, img/ico-retina@3x.png 3x"></div><b>Retina display</b>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="item">
								<div class="circle"><img src="img/ico-battery.png" srcset="img/ico-battery@2x.png 2x, img/ico-battery@3x.png 3x"></div><b>ładowanie bezprzewodowe</b>
							</div>
						</div>
						<div class="col">
							<div class="item">
								<div class="circle"><img src="img/ico-cpu.png" srcset="img/ico-cpu@2x.png 2x, img/ico-cpu@3x.png 3x"></div><b>A11 Bionic procesor</b>
							</div>
						</div>
					</div>
				</div><a href="" class="btn btn-primary">WYGRAJ!</a>
			</div>
			<div class="apps">
				<h3>OTRZYMASZ NIEOGRANICZONY DOSTĘP DO SERWISU PRODUKTÓW MOBILNYCH</h3>
				<div class="container">
					<div class="row">
						<div class="col"><a href="#"><img src="img/apps/app-01.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-02.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-03.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-04.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-05.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-06.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-07.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-08.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-09.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-10.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-11.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-12.png"></a></div>
					</div>
				</div>
			</div>
			<div class="links">
				<ul>
					<li><a href="#">Regulamin</a></li>
					<li><a href="#">Obsługiwane telefony</a></li>
					<li><a href="#">Polityka prywatności</a></li>
					<li><a href="#">Konkursy</a></li>
				</ul>
			</div>
			<div class="prizehub"><a href="#"><img src="img/logo-prizehub.png" srcset="img/logo-prizehub@2x.png 2x, img/logo-prizehub@3x.png 3x"></a></div>
		</div>
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	</body>
</html>
